<%#
# = Vista de una grilla de proyecto_usuarios
# Esta vista implementa la grilla de administración de proyecto_usuarios
%>
<%= javascript_include_tag :'david-crud' %>

<script type="text/javascript">
    var nuevoModalId = "#nuevoproyecto_usuario";
    var editarModalId = "#editarproyecto_usuario";
    var eliminarModalId = "#eliminarproyecto_usuario";
    var nameInputId = "proyecto_usuario_login";
    var validateNameUrl = "<%= request.protocol + request.host_with_port %>/proyecto_usuarios/existe/login";
    var nuevoButtonId = "#new_proyecto_usuario";
    var editarButtonId = "#editarproyecto_usuario";
    var eliminarButtonId = "#eliminarproyecto_usuario";
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // Paginación - ordenamiento
        $("#proyectousuariosTabla").tablesorter({ headers: { 0:{sorter: false}}})
                .tablesorterPager({container: $("#pager"),positionFixed: false, size: 30});

        // Callback de validacion de nombre repetido por ajax
        $.validator.addMethod("nombre_unico", validar_nombre_unico, "");

    });
</script>


<% @titulo = t('.title_pag') %>
<%= render "shared/encabezado_crud" %>


<!-- Menu y contenido-->
<div id="sgw_4_body" class="body sg_scroll_container sgw_entity_query_entity_query_page">

  <div class="contents" id="ext-gen77" >

    <%
       @filtroTexto = t('filtro')
       @verListaTexto = t('viewList')
       @verIconosTexto = t('viewSharp')

       @nuevoBotonId = "nuevo_proyecto_usuario"
       @nuevoBotonTexto = t('add')
       @nuevoPath = proyecto_usuarios_path
       @nuevoModal = "nuevoproyecto_usuario"

       @editarBotonId = "editar_proyecto_usuario"
       @editarBotonTexto = t('edit')
       @editarPath = "#"
       @editarModal = "editarproyecto_usuario"

       @eliminarBotonId = "eliminar_proyecto_usuario"
       @eliminarBotonTexto = t('delete')
       @eliminarPath = "#"
       @eliminarModal = "eliminarproyecto_usuario"
       @eliminarConfirm = "Está seguro de querer eliminar el proyecto_usuario?"
    %>

    <%= render "shared/menu_crud" %>

    <!-- Formas de visualización en tabla o thumbnail,...-->
    <div id="layout_principal" class="sgw_new_grid sgw_entity_query_mode sg_scroll_container seltarget" style="left: 250px; top: 30px; ">

      <%
         if(@proyecto_usuarios.count == 0)
      %>
          <div class="addnew">
            <%= t('no_created') %><br /><br />
              <a data-toggle="modal" role="button" class="btn" href="#nuevousuario">
              <%= image_tag "/images/add.png" %><br /><br />
                <%= t('add_new') %>
            </a>
          </div>
      <%
         else
      %>
      <table id="proyectousuariosTabla" class="table table-bordered table-striped tablesorter" >
        <thead>
        <tr>
          <th></th>
          <th><%= t('nombre')%> </th>
          <th><%= t('rol')%> </th>
        </tr>
        </thead>
        <tbody>
        <% @proyecto_usuarios.each do |proyecto_usuario| %>
            <tr id="<%= proyecto_usuario.id %>">
              <td style="vertical-align:middle"><input type="checkbox" name="'<%= proyecto_usuario.id %>'" /></td>

              <td>
                <% if FileTest.exist?(Dir.pwd + "/public/images/usuarios/" + proyecto_usuario.usuario.id.to_s() + "_original.img") %>
                    <%= image_tag "/images/usuarios/" + proyecto_usuario.usuario.id.to_s() + '_original.img', :size => "75x75" %>
                <% else %>
                    <%= image_tag "/images/noimage.jpg", :size => "75x75" %>
                <% end %>
                <%= link_to proyecto_usuario.usuario.nombre, proyecto_usuario_path(proyecto_usuario) %>

              </td>
              <td style="vertical-align:middle"> <%= proyecto_usuario.usuario.tipo_recurso.nombre %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
        <!--div class="whatsneededcontainer">
          <div class="whatsneeded">
            <div class="thingstatus">
              <img src="/images/ready.png">
            </div>
            <div class="title">3 diseñadores se requieren y están completos
            </div>
            <div class="process">
              <div class="processname">Proceso: Desarrollo creativo del videojuego</div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="whatsneeded">
            <div class="thingstatus">
              <img src="/images/orange.png">
            </div>
            <div class="title">2 programadores se requieren y hay 1
            </div>
            <div class="process">
              <div class="processname">Proceso: El segundo proceso</div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="whatsneeded">
            <div class="thingstatus">
              <img src="/images/red.png">
            </div>
            <div class="title">2 músicos se requieren y hay 0
            </div>
            <div class="process">
              <div class="processname">Proceso: El tercer proceso</div>
            </div>
            <div class="clear"></div>
          </div>
        </div-->
    </div>

    <%= render "shared/filtro_crud" %>

    <%
       @pagTexto = @proyecto_usuarios.count.to_s() + " " + t('listade')
       @porPagTexto = t('pag')
    %>

    <%= render "shared/footer_crud" %>
  </div>

</div>