<h1>Listing tarea_recursos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Rarea</th>
    <th>Recurso</th>
    <th>Esfuerzo</th>
    <th>Unidad esfuerzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tarea_recursos.each do |tarea_recurso| %>
  <tr>
    <td><%= tarea_recurso.id %></td>
    <td><%= tarea_recurso.tarea_id %></td>
    <td><%= tarea_recurso.recurso_id %></td>
    <td><%= tarea_recurso.esfuerzo %></td>
    <td><%= tarea_recurso.unidad_esfuerzo %></td>
    <td><%= link_to 'Show', tarea_recurso %></td>
    <td><%= link_to 'Edit', edit_tarea_recurso_path(tarea_recurso) %></td>
    <td><%= link_to 'Destroy', tarea_recurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarea recurso', new_tarea_recurso_path %>
